*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

body{
background-color: #132240;

}

.interface{
    max-width: 1220px;
    margin: 0 auto;
}

.flex{
    display: flex;

}

.btn-contato button{
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 400;
    background-color: #698ebf;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #b8870b;
}

/*ESTILO CABECARIO*/
header{
    padding: 10px 5%;

}

header > .interface{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}

header a{
    color: #b8870b73;
    font-size: 15pt;
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
    transition: .2s;

}

header a:hover{
    color: #b8870b;
    transform: scale(1.05);

}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block ;
    padding: 0 40px;
    font-weight: 100;

}



 .btn-contato button:hover{
    box-shadow: 0px 0px 8px #698ebf94 

}

/*estilo do main*/
section.top-do-site{
    padding: 40px 4%; 

}

section.top-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.top-do-site h1{
   color: #b8870b;
   font-size: 45px;
   line-height: 45px
}

.top-do-site .txt-topo-site p{
    color: rgba(255, 255, 255, 0.589);
    margin: 25px 0px;
}

section .btn-contato:hover{
    transform: scale(1.05);
    transition: .2s;

}

.top-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
        left: 0;
        right: 0;
    }
    100%{
        top: 30px;
        left: 20px;
        right: 20px; 
    }

}

/*ESTILOS ESPECIALIDADES*/
section.especialidades{
    padding: 40px 4%;
    

}
section.especialidades .flex{
    display: flex; 
    gap: 25px;   
}


.especialidades .especialidades-box{
    margin-top: 35px;
    color: #fff;
    padding: 30px;
    border-radius: 30px;
    text-align: justify;
   
    
}



.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    transition: .2s;
    box-shadow: 01px 2px 8px #698ebf94
}

.especialidades .especialidades-box i{
    font-size: 65px;
    color: #b8870b;
}

.especialidades .especialidades-box h3{
    font-size: 15pt;
    margin: 15px 0;
}

.especialidades .especialidades-box p{
    text-align: justify;
}

/*ESTILO SOBRE*/
section.sobre{
    padding: 40px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;
    
}

section .flex .img-sobre{
    margin: 0 -60px;


}

.sobre .txt-sobre .btn-habilidades button{
    padding: 15px;
    height: 50px;
    font-size: 15px;
    background-color: #698ebf;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    margin: 1px 10px;
}


.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;

    
}

.sobre .txt-sobre h2 span{
    color: #b8870b;
    display: block;
    
}

.sobre .txt-sobre p{
    font-size: 14pt;
    margin: 20px 0;
    text-align: justify;
    margin-bottom: 25px;

}

.btn-habilidades button:hover{
    scale: 1.06;
    transition: 0.2s;
    box-shadow: 0px 0px 8px #698ebf94 
    
}
